.grid-container {
    box-shadow: 0px 4px 20px 0px;
    width: 30%;
    margin: 0 auto;
    height: 800px;
    width: 800px;
    margin-top: -100px;
}

.grid-container div {
    display: flex;
    border: inherit;
}

.grid-container div div {
    flex: 1;
}

.settings {
    display: flex;
    flex-direction: column;
}

.color-picker {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
    left: 40px;
}

.color-picker span {
    font-size: 24px;
}

.color-picker input {
    width: 100px;
    height: 40px;
}

.random {
    position: relative;
    top: 80px;
    left: 40px;
    width: 150px;
    height: 80px;
    box-shadow: 0px 4px 20px 0px;
    background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 5px;
}

.grid-size {
    position: relative;
    top: 100px;
    left: 40px;
    display: flex;
    flex-direction: column;
}

.grid-size input {
    width: 10%;
}

.grid-size span {
    font-size: 24px;
    margin-bottom: 15px;
}